* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highlight: #ffba08;

  --black: #1a1d23;

  --dark-head-text: #47585b;
  --dark-info: #999999;

  --light-head-text: #f5f8fa;
  --light-info: #dadada;

  --white: #ffffff;
}

body {
  background: var(--light-head-text);
  color: var(--dark-head-text);

  font-family: Poppins, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
